data/
data/**
node_modules/
server/node_modules/
server/native/build/
*.log
.git/

.env
.env.*
!.env.example
**/.env
**/.env.*
**/venv
**/.venv
**/__pycache__
**/*.pyc
**/logs
**/stories
**/config_data
ssl/
session/
server/config.json
ilpiccolobardo/public/audio/
ilpiccolobardo/public/images/
